.header {
    background-color: #1481BA;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.container {
    padding: 10px;
    display: flex;
}

.searchButton {
    background-color: #1481BA;
    align-items: left;

}